.media {
    height: 0px;
    padding-Top: 55%;   
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}


.border {
    border: solid;
}


/* .fullHeightCard {
    height: 100%;
} */


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    /* height: 100%; */
    position: relative;
    margin-top: 15%;

}


.overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}


.overlay2 {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
}


